@model PagedList.IPagedList<RecordFCS_Alt.Models.Usuario>
@using PagedList.Mvc;
@using RecordFCS_Alt.Helpers


<div class="col-lg-4 col-md-5 col-sm-7">
    @using (Html.BeginForm("Lista", "Usuario", FormMethod.Get, new { id = "FormBusqueda" }))
    {
        <div class="form-group">
            <div class="input-group input-group-sm">
                @Html.TextBox("Busqueda", ViewBag.FiltroActual as string, new { @Class = "form-control", placeholder = "Buscar por..." })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
                </span>
            </div>
        </div>
    }
</div>

<div class="pull-right">
    Total de Registros:
    <span class="badge" data-toggle="tooltip" title="Total de registros">@Model.TotalItemCount</span>
</div>

<table class="table table-hover table-condensed">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            Nombre(s)
        </th>
        <th>
            Apellido(s)
        </th>
        <th>
            Correo Electronico
        </th>
        <th>
            ¿Es Activo?
        </th>
        <th>
            @if (User.IsInRole("usrNew"))
            {
                @Html.NoEncodeActionLink("<span class='fa fa-plus'></span>", "Crear Nuevo Usuario", "Crear", "Usuario", null, htmlAttributes: new { data_modal = "", data_toggle = "tooltip", @class = "btn btn-success pull-right Usuario" })
            }
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <div class="pull-right">
                    @if (User.IsInRole("usrAllEdit"))
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Config. Usuario", "Detalles", "Usuario", routeValues: new { id = item.UsuarioID }, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })

                    }
                    @if (User.IsInRole("usrEdit"))
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-pencil'></span>", "Editar", "Editar", "Usuario", routeValues: new { id = item.UsuarioID }, htmlAttributes: new { data_modal = "", data_toggle = "tooltip", @class = "btn btn-default btn-xs Usuario" })

                    }
                    @if (User.IsInRole("usrDeta"))
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-trash'></span>", "Eliminar", "Eliminar", "Usuario", routeValues: new { id = item.UsuarioID }, htmlAttributes: new { data_modal = "", data_toggle = "tooltip", @class = "btn btn-danger btn-xs Usuario" })

                    }
                </div>
            </td>
        </tr>
    }

</table>

<div id="contentPager" class="text-center center-block">
    @Html.PagedListPager(Model, pagina => Url.Action("Lista", new { pagina = pagina, FiltroActual = ViewBag.FiltroActual }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< Inicio", LinkToPreviousPageFormat = "< Anterior", LinkToNextPageFormat = "Siguiente >", LinkToLastPageFormat = "Final >>", UlElementClasses = new[] { "pagination", "pagination-sm" } })
</div>



<script src="~/Scripts/add.toolTip.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-modal].Usuario").on("click", function (e) {

            $('#miModalContenido').load(this.href, function () {
                $('#miModal').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                bindForm_Usuario(this);
            });
            return false;
        });
    });

    function bindForm_Usuario(dialog) {
        $('form', dialog).submit(function (e) {

            e.preventDefault();
            var validarOK = false;
            validarOK = $(this).validate().valid();
            if (validarOK) {

                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#miModal').modal('hide');
                            if ($('#replacetarget').length)
                                $('#replacetarget').load(result.url); //  Campo que actualizara
                            else
                                window.location.reload();

                            $('#alertasDiv').load('@Url.Action("_Alertas","Base")');

                        } else {
                            $('#miModalContenido').html(result);
                            $('#alertasDiv').load('@Url.Action("_Alertas","Base")');
                            bindForm_Usuario(dialog);
                        }
                    }
                });
            }
            return false;
        });
    }


    //Paginador cargar vista parcial en el div
    $(function () {
        $.ajaxSetup({ cache: false });

        $("#contentPager a").on("click", function (e) {
            if ($(this).attr("href")) {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    success: function (result) {
                        $('#replacetarget').html(result);
                    }
                });
            }
            return false;
        });
    });




    //Buscador carga vista parcial en el div
    $(function () {
        $.ajaxSetup({ cache: false });

        $('#FormBusqueda').submit(function (e) {

            e.preventDefault();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    $('#replacetarget').html(result);
                }
            });
            return false;
        });
    });

</script>