@model RecordFCS_Alt.Models.ViewsModel.itemPiezaMini
@using RecordFCS_Alt.Helpers

@{
    bool esPrincipal = Model.esPrincipal;
    string classModal = "ModalImagen_" + Model.PiezaID;
    string textSinImagen = ViewBag.textSinImagen;
    string classTamano = ViewBag.classTamano;
    string classContenedor = Model.esPrincipal ? "pm-contenedorObra" : "pm-contenedorPieza";
    string idColapso = "adicionalPiezas_" + Model.esBusqueda + Model.PiezaID;
}


<li class="media @classContenedor">

    <div class="media-left">

        <div class="text-center">
            <h4>
                <label for="pieza_@(Model.PiezaID)">@Model.FolioPieza</label>
            </h4>
        </div>

        <div class="center-block">

            @if (Model.ImagenID == null)
            {

                <img src="holder.js/@(textSinImagen)/text:404" alt="Sin Imagen" class="media-object @classTamano">
            }
            else
            {
                <a href="@Url.Action("Detalles", "ImagenPieza", new { id = Model.ImagenID})" data-modal="" class="LG@(classModal)">
                    <img src="@(Model.RutaImagenMini)" alt="@Model.FolioPieza" class="media-object @classTamano">
                </a>
            }

            <div class="text-center">
                @*@if (Model.esPrincipal && User.IsInRole("verFichComp"))
                    {
                        <a href="@Url.Action("Detalles", "Obra", new  {id = Model.ObraID })" class="btn btn-default btn-xs" data-toggle="tooltip" title="Abrir Ficha Completa de Obra" target="_blank">@Model.FolioObra</a>
                    }*@

                @if (Model.ListaPiezasHijas.Count > 0)
                {


                    <span class="btn btn-info btn-xs conAnimacion_@Model.PiezaID"
                          title="Cargar piezas adicionales"
                          data-toggle="collapse"
                          data-target="#@idColapso"
                          aria-expanded="false"
                          aria-controls="@idColapso">

                        <span id="animado_@Model.PiezaID">
                            <span class="fa fa-puzzle-piece"></span>
                        </span>
                        <span class="fa fa-caret-down"></span>

                    </span>

                    @*<script type="text/javascript">

                            $('.conAnimacion_@Model.PiezaID').on("click", function (e) {
                                e.preventDefault();

                                $('#animado_@Model.PiezaID').toggleClass("animated flash infinite");


                            });


                        </script>*@
                }
            </div>

        </div>



    </div>


    <div class="media-body clearfix">

        <div class="pull-right">

            @if (Model.esBusqueda)
            {
                if (Model.esValida)
                {
                    <label for="Model.PiezaID" class="label"> <span class="badge badge-success">Válida</span> </label>

                    @Html.CheckBoxFor(model => model.enLista, new { @class = "checkAdd", data_myid = Model.PiezaID })





                }
                else
                {
                    <span class="badge badge-muted">Inválida</span>

                    @Html.CheckBoxFor(model => model.enLista, new { @class = "checkAdd", data_myid = Model.PiezaID, disabled = "" })
                }


            }
            else
            {
                if (Model.esValida)
                {
                    <span class="badge badge-success">Válida</span>

                    <a href="@Url.Action("DelPieza", "Movimiento", new { id = Model.PiezaID, listaNombre = "listaMov"})" class="btn btn-danger btn-xs DelPieza" data-toggle="tooltip" title="Quitar Pieza @Model.FolioPieza"><i class="fa fa-times"></i></a>

                    <input type="hidden" name="addPiezaID_@Model.PiezaID" value="@Model.PiezaID" />

                }
                else
                {
                    <span class="badge badge-muted">Inválida</span>
                }

            }


        </div>

        <table class="table pm-table">
            <tr class="pm-table">
                <td class="col-lg-3 col-md-5 col-sm-5 pm-table">
                    <b>Tipo de Pieza</b>
                </td>

                <td class="pm-table">
                    @(Model.NombrePieza)
                </td>
            </tr>

            @foreach (var att in Model.Atributos)
            {
                <tr class="pm-table">
                    <td class="pm-table">
                        <b>@att.Nombre</b>
                    </td>

                    <td class="pm-table">
                        @foreach (var valor in att.Valores)
                        {
                            @valor.Valor
                            @*<span class="center-block">
                                    @valor.Valor
                                </span>*@
                        }
                    </td>
                </tr>
            }

        </table>


        <div class="collapse" id="@idColapso">

            @if (Model.ListaPiezasHijas.Count > 0)
            {
                <ul class="media-list">
                    @foreach (var piezaHijaID in Model.ListaPiezasHijas)
                    {
                        Html.RenderAction("FichaMini", "Movimiento", new { id = piezaHijaID, UbicacionOrigenID = Model.UbicacionOrigenID, tipo = "guion", listaNombre = "listaMov", esBusqueda = Model.esBusqueda });
                    }
                </ul>
            }

        </div>

    </div>


</li>




<script src="~/Scripts/holder.js"></script>

<script src="~/Scripts/add.toolTip.js"></script>


<script type="text/javascript">

    $(function () {
        $('[data-toggle="collapse"]').tooltip();

        $.ajaxSetup({ cache: false });

        // Abrir Modales en formulario PRE REGISTRO
        $("a[data-modal].LG@(classModal)").on("click", function (e) {
            $('#miModalContenidoLG').load(this.href, function () {
                $('#miModalLG').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
            });
            return false;
        });
    });

</script>


<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>