@model RecordFCS_Alt.Models.Movimiento

@{
    ViewBag.PagName = "Manejar";
    ViewBag.CtrlName = "Obra";
    ViewBag.Title = @ViewBag.PagName + ViewBag.CtrlName;
}

<h3>
    @ViewBag.PagName
    <i class="text-muted">@ViewBag.CtrlName</i>
</h3>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@ViewBag.CtrlName</li>
    <li class="active">@ViewBag.PagName</li>
</ol>






<div id="renderMovimiento">

    <h4><b>Selecciona la opción que deseas realizar:</b></h4>

    @using (Html.BeginForm("Crear", "Movimiento", FormMethod.Get, new { @Class = "formInicio form-center" }))
    {
        @Html.AntiForgeryToken()

        <h3 class="text-center">Nuevo Movimiento</h3>

        <div class="form-horizontal">

            <div class="form-group">

                @Html.Label("TipoMovimientoID", "Tipo de Movimiento", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-8">
                    <div class="input-group">
                        @*<span class="input-group-addon"><i class="fa fa-exchange"></i></span>*@
                        @Html.DropDownList("TipoMovimientoID", null, htmlAttributes: new { @class = "form-control" })

                        <span class="input-group-addon">
                            @*<input type="checkbox" id="HaciaExposicionInput" name="HaciaExposicionInput" data-toggle="tooltip" data-title="Hacia Exposición">*@
                            @Html.CheckBoxFor(model => model.HaciaExposicion, new { data_toggle = "tooltip", data_title = "Hacia Exposición" })
                        </span>


                        <button type="submit" class="input-group-addon btn btn-primary" data-toggle="tooltip" data-original-title="Nuevo Movimiento"><i class="fa fa-plus"></i> Generar </button>

                    </div>
                </div>
            </div>


        </div>
    }

    @using (Html.BeginForm("Editar", "Movimiento", FormMethod.Get, new { @Class = "formInicio form-center" }))
    {
        @Html.AntiForgeryToken()

        <h3 class="text-center">Consultar Movimiento</h3>


        <div class="form-horizontal">

            <div class="form-group">

                @Html.Label("MovimientoID", "No. de Movimiento", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-8">
                    <div class="input-group">
                        @Html.TextBox("MovimientoID", null, new { @Class = "form-control", type = "number" })

                        <button type="submit" class="input-group-addon btn btn-primary" data-toggle="tooltip" data-original-title="Buscar Movimiento"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>



        </div>
    }



</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script>
    $('form.formInicio').submit(function (e) {
        e.preventDefault();


        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {

                $('#renderMovimiento').html(result); //  Campo que actualizara

                $('#alertasDiv').load('/Base/_Alertas');
            }
        });
        return false;
    });
</script>





