@model IEnumerable<RecordFCS_Alt.Models.TipoAtributo>
@using RecordFCS_Alt.Helpers

<table class="table table-hover table-condensed">
    <tr>
        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            @Html.DisplayNameFor(model => model.Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>

        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            @Html.DisplayNameFor(model => model.EsLista)
        </th>
        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            @Html.DisplayNameFor(model => model.EsMultipleValor)
        </th>

        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            @Html.DisplayNameFor(model => model.EnBuscador)
        </th>

        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
            @if (User.IsInRole("tAttNew"))
            {
                @Html.NoEncodeActionLink("<span class='fa fa-plus'></span>", "Crear Tipo de Atributo", "Crear", "TipoAtributo", null, htmlAttributes: new { data_modal = "", data_toggle = "tooltip", @class = "btn btn-success btn-xs pull-right openModal_TipoAtributo" })
            }
        </th>
    </tr>

    <!-- TipoMovimiento-->
    @if (User.IsInRole("tMovList"))
    {
        <tr>
            <td></td>
            <td>
                Tipo de Movimiento de obra
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="pull-right btn-group">
                    @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Configurar Tipo de Movimiento", "Index", "TipoMovimiento", null, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })

                </div>
            </td>
        </tr>
    }
    
    <!-- LetraFolio-->
    @if (User.IsInRole("leFolList"))
    {
        <tr>
            <td></td>
            <td>
                Letra para el Número de inventario
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="pull-right btn-group">
                    @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Configurar Letra de Folio", "Index", "LetraFolio", null, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })

                </div>
            </td>
        </tr>
    }

    <!-- MostrarAtributo-->
    @if (User.IsInRole("tMosList"))
    {
        <tr>
            <td></td>
            <td>
                Visualización de atributos de la obra
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="pull-right btn-group">
                    @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Configurar Tipo de Mostrar", "Index", "TipoMostrar", null, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })

                </div>
            </td>
        </tr>
    }
    <!-- TipoObra-->
    @if (User.IsInRole("tOList"))
    {
        <tr>
            <td></td>
            <td>
                Tipo de obra
                <small class="text-muted">Plantillas</small>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="pull-right btn-group">
                    @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Configurar Tipos de Obra", "Index", "TipoObra", null, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })
                </div>
            </td>
        </tr>
    }


    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
                <small class="text-muted">@Html.DisplayFor(modelItem => item.Descripcion)</small>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EsLista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsMultipleValor)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EnBuscador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                <div class="pull-right">

                    @if (item.EsLista)
                    {
                        switch (item.TablaSQL)
                        {
                            case "ListaValor":
                                if (User.IsInRole("catList"))
                                {
                                    @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Configurar " + item.Nombre, "Detalles", "TipoAtributo", routeValues: new { id = item.TipoAtributoID }, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })
                                }
                                break;
                            case "ImagenPieza":
                                break;
                            case "Ubicacion":
                                if (User.IsInRole("ubiList"))
                                {
                                    @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Configurar " + item.Nombre, "Index", item.TablaSQL, null, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })
                                }

                                break;

                            default:
                                if (User.IsInRole("catList"))
                                {
                                    @Html.NoEncodeActionLink("<span class='fa fa-gear'></span>", "Configurar " + item.Nombre, "Index", item.TablaSQL, null, htmlAttributes: new { data_toggle = "tooltip", @class = "btn btn-primary btn-xs" })
                                }
                                break;
                        }
                    }


                    @if (User.IsInRole("tAttEdit"))
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-pencil'></span>", "Editar " + item.Nombre, "Editar", "TipoAtributo", routeValues: new { id = item.TipoAtributoID }, htmlAttributes: new { data_modal = "", data_toggle = "tooltip", @class = "btn btn-default btn-xs openModal_TipoAtributo" })

                    }
                    @if (User.IsInRole("tAttDel"))
                    {
                        @Html.NoEncodeActionLink("<span class='fa fa-trash'></span>", "Eliminar " + item.Nombre, "Eliminar", "TipoAtributo", routeValues: new { id = item.TipoAtributoID }, htmlAttributes: new { data_modal = "", data_toggle = "tooltip", @class = "btn btn-danger btn-xs openModal_TipoAtributo" })

                    }

                </div>
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/add.toolTip.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/tipoAtributoLista.js"></script>