@model ICollection<RecordFCS_Alt.Models.ImagenPieza>
@using RecordFCS_Alt.Helpers

<link href="~/Content/carusel.css" rel="stylesheet" />

@{
    int NoImagenes = Model.Count();
    string CarruselID = ViewBag.CarruselID;
    string active = "active";
    bool esCompleta = ViewBag.esCompleta;
}


<div id="@CarruselID" class="carousel slide">
    <div class="carousel-inner">


        @if (NoImagenes == 0)
        {
            <div id="imagen_0" class="item @active">
                <div class="thumbnail img-thumbnail">
                    <img src="holder.js/250x200/text:404" alt="Sin Imagen" class="media-object imagenMini">

                    @if (User.IsInRole("imgNew") && esCompleta)
                    {
                        <div class="caption text-center">

                            <span class="center-block"><b>Agregue una imagen</b></span>
                            <span class="text-muted"></span>

                            @Html.NoEncodeActionLink("<span class='fa fa-plus'></span>", "Nueva Imagen", "Crear", "ImagenPieza", new { id = ViewBag.PiezaID }, htmlAttributes: new { data_modal = "", @class = "link link-success btn-xs ModalImagen" })

                        </div>
                    }
                </div>
            </div>

        }
        else
        {
            foreach (var item in Model)
            {
                <div id="imagen_@item.ImagenPiezaID" class="item @active">
                    <div class="thumbnail img-thumbnail">

                        <img src="@(item.RutaMini)" alt="@item.Titulo" class="imagenMini">


                        <div class=" caption text-center">
                            <span class="center-block"><b>@item.Titulo</b></span>
                            <small class="text-muted">@item.Descripcion</small>

                            <span class="center-block">
                                @Html.DisplayFor(modelItem => item.Status)
                            </span>


                            <div>

                                @if (esCompleta)
                                {
                                    if (User.IsInRole("imgNew"))
                                    {
                                        @Html.NoEncodeActionLink("<span class='fa fa-plus'></span>", "Nueva Imagen", "Crear", "ImagenPieza", new { id = item.PiezaID }, htmlAttributes: new { data_modal = "", @class = "link link-success btn-xs ModalImagen" })
                                    }
                                    if (User.IsInRole("imgEdit"))
                                    {
                                        @Html.NoEncodeActionLink("<span class='fa fa-pencil'></span>", "Editar Imagen", "Editar", "ImagenPieza", new { id = item.ImagenPiezaID }, htmlAttributes: new { data_modal = "", @class = "link link-info btn-xs ModalImagen" })
                                    }
                                    if (User.IsInRole("imgDel"))
                                    {
                                        @Html.NoEncodeActionLink("<span class='fa fa-trash'></span>", "Eliminar Imagen", "Eliminar", "ImagenPieza", new { id = item.ImagenPiezaID }, htmlAttributes: new { data_modal = "", @class = "link link-danger btn-xs ModalImagen" })
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>

                                active = "";
            }
        }

    </div>

    @if (NoImagenes != 0)
    {
        <a class="left carousel-control" href="#@CarruselID" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="right carousel-control" href="#@CarruselID" data-slide="next"><i class="fa fa-chevron-right"></i></a>

    <!-- Indicators -->

        <ol class="carousel-indicators">
            @{active = "active";}

            @for (int i = 0; i < NoImagenes; i++)
            {
                <li data-target="#@CarruselID" data-slide-to="@i" class="@active"></li>

                active = "";
            }

        </ol>
    }


</div>


<script src="~/Scripts/holder.js"></script>


@*CREAR IMAGENES*@
<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });

        // Abrir Modales en formulario PRE REGISTRO
        $("a[data-modal].ModalImagen").on("click", function (e) {
            $('#miModalContenido').load(this.href, function () {
                $('#miModal').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
            });
            return false;
        });
    });


</script>



