@model RecordFCS_Alt.Models.Obra

@{
    string FolioCompleto = ViewBag.FolioCompleto;

    Guid ObraSig = ViewBag.ObraSiguiente;
    Guid ObraAnt = ViewBag.ObraAnterior;

    ViewBag.PaginaTitulo = "Ficha Completa";
    ViewBag.PaginaSubtitulo = FolioCompleto;

    ViewBag.Title = ViewBag.PaginaTitulo + " - " + ViewBag.PaginaSubtitulo;


}


<h1>
    @ViewBag.PaginaTitulo

    <span class="text-primary pull-right">

        @if (ObraAnt == Guid.Empty)
        {
            <span class="btn btn-default btn-xs disabled" data-toggle="tooltip" title="Obra Anterior"><span class='fa fa-chevron-left'></span></span>
        }
        else
        {
            <a href="@Url.Action("Detalles", "Obra", new  {id = ObraAnt })" class="btn btn-default btn-xs " data-toggle="tooltip" title="Obra Anterior"><span class='fa fa-chevron-left'></span></a>
        }

        <b>@ViewBag.PaginaSubtitulo</b>
        
        @if (ObraSig == Guid.Empty)
        {
            <span class="btn btn-default btn-xs disabled" data-toggle="tooltip" title="Obra Siguiente"><span class='fa fa-chevron-right'></span></span>
        }
        else
        {
            <a href="@Url.Action("Detalles", "Obra", new  {id = ObraSig })" class="btn btn-default btn-xs " data-toggle="tooltip" title="Obra Siguiente"><span class='fa fa-chevron-right'></span></a>
        }

    </span>
</h1>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>Obra</li>
    <li class="active">@ViewBag.PaginaSubtitulo</li>
</ol>




<ul class="media-list">

    @foreach (var piezaPrincipal in Model.Piezas)
    {
        Html.RenderAction("Ficha", "Pieza", new { id = piezaPrincipal.PiezaID, tipo = "Completa" });
    }
</ul>



