@model RecordFCS_Alt.Models.Obra

@{
    string FolioCompleto = ViewBag.FolioCompleto;

    ViewBag.PaginaTitulo = "Ficha Completa";
    ViewBag.PaginaSubtitulo = FolioCompleto;

    ViewBag.Title = ViewBag.PaginaTitulo + " - " + ViewBag.PaginaSubtitulo;
}


<h1>
    @ViewBag.PaginaTitulo
    <b class="text-primary pull-right">@ViewBag.PaginaSubtitulo</b>
</h1>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>Obra</li>
    <li class="active">@ViewBag.PaginaSubtitulo</li>
</ol>

<!--<div class="row">

    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.TipoObra.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoObra.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>


    </dl>
</div>
    -->


@*<div class="">
    <p>Menu de acciónes para toda la Obra en general</p>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ObraID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<hr />*@



<ul class="media-list">

    @foreach (var piezaPrincipal in Model.Piezas)
    {
        Html.RenderAction("Ficha", "Pieza", new { id = piezaPrincipal.PiezaID, tipo = "Completa" });
    }
</ul>



