@model RecordFCS_Alt.Models.Permiso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Permiso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoPermiso.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPermiso.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
