@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RazorPDF</title>
    @*<style>
            html {
                font-family: Arial;
            }

            h1 {
                color: blue;
            }

            table {
                border: 1px solid black;
                border-spacing: 0px;
            }

                table tr th {
                    background-color: gray;
                    color: white;
                    padding: 2px;
                }

                table tr td {
                    margin: 0px;
                    padding: 2px;
                }
        </style>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
