@using RecordFCS_Alt.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <title>@ViewBag.Title - Record</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/animate.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body style="background-color: #ffffff;">
    @*<div id="loadingAjax">
            <div class="text-center">
                <span class="fa fa-spin fa-spinner fa-4x"></span>
                <br />
                <span>Procesando solicitud</span>
                <br />
                <small>Por favor espere...</small>
            </div>
        </div>*@


    @Html.Partial("_Menu")


    
    <div id="alertasDiv" class="notificacion clearfix">
        @{ Html.RenderPartial("_Alertas"); }
    </div>

    <div class="container body-content">
        @RenderBody()

        <!-- MODALES -->
        <!-- modal placeholder-->
        <div id='miModal' class='modal fade in'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='miModalContenido'></div>
                </div>
            </div>
        </div>
        <div id='miModalLG' class='modal fade in'>
            <div class="modal-dialog">
                <div class="modal-content modal-lg">
                    <div id='miModalContenidoLG'></div>
                </div>
            </div>
        </div>
        <div id='miModalSM' class='modal fade in'>
            <div class="modal-dialog">
                <div class="modal-content modal-sm">
                    <div id='miModalContenidoSM'></div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <p class="text-center">
                &copy; @DateTime.Now.Year - <b>Record</b> - <i>Registro, Control y Documentación de Obra</i>
        </p>
    </footer>


    <div id='myModal' class='modal fade in'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)

</body>





</html>


<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


