@using RecordFCS_Alt.Helpers

<nav id="menuUsuario" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Pestaña de Navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logoFundacion">
            </div>

            <a href="@Url.Action("Index","Home")" data-toggle="tooltip" class="navbar-brand">
                <img src="~/Content/img/home/carrusel/logoRecordFCS.png" alt="Fundación Carlos Slim" class="imgSaludo" />
            </a>
        </div>
      

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

            @if (IsAuthenticated)
            {
                //barras izquierda|
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("verConsult"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class='fa fa-search'></i> Consulta <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (User.IsInRole("verBusca"))
                                {
                                    @Html.MenuItemIcon("<i class='fa fa-search'></i> Buscador Avanzado", "Buscador Avanzado", "Index", "Buscador")
                                }
                                @*@Html.MenuItemIcon("<i class='fa fa-list'></i> Listados", "Listados", "Index", "Listado")*@
                                @*@Html.MenuItemIcon("<i class='fa fa-list-alt'></i> Reportes", "Reportes", "Index", "Reporte")*@
                            </ul>
                        </li>
                    }
                    
                    @if (User.IsInRole("verCtrlO"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class='fa fa-connectdevelop'></i> Control de Obra <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (User.IsInRole("oNew"))
                                {
                                    @Html.MenuItemIcon("<i class='fa fa-edit'></i> Registro de Obra", "Registro de Obra", "Registrar", "Obra")
                                }

                            </ul>
                        </li>
                    }


                    @if (User.IsInRole("verConfg"))
                    {
                        <li class="menu-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i> Configuración<span class="caret"></span></a>

                            <ul class="dropdown-menu">

                                @if (User.IsInRole("verSecSis"))
                                {
                                    <li class="menu-item dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shield"></i> Seguridad Sistema</a>

                                        <ul class="dropdown-menu">
                                            @if (User.IsInRole("tPermList"))
                                            {
                                                @Html.MenuItemIcon("<i class='fa fa-key'></i> Permisos", "Catalogo Permisos", "Index", "TipoPermiso")
                                            }
                                            @if (User.IsInRole("usrLis"))
                                            {
                                                @Html.MenuItemIcon("<i class='fa fa-group'></i> Usuarios", "Usuarios", "Index", "Usuario")
                                            }
                                        </ul>

                                    </li>
                                }

                                @if (User.IsInRole("verOConfg"))
                                {
                                    <li class="menu-item dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i> Configuración Obras</a>

                                        <ul class="dropdown-menu">
                                            @if (User.IsInRole("tOList"))
                                            {
                                                @Html.MenuItemIcon("<i class='fa fa-picture-o'></i> Tipos de Obra", "Tipos de Obra", "Index", "TipoObra")
                                            }

                                            @if (User.IsInRole("catList"))
                                            {
                                                @Html.MenuItemIcon("<i class='fa fa-th-large'></i> Catalogos", "Catalogos", "Index", "TipoAtributo")
                                            }

                                        </ul>

                                    </li>
                                }


                            </ul>

                        </li>


                    }






                    @*<li class="menu-item dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drop Down<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li class="menu-item"> <a href="#">Link 0</a></li>

                                <li class="menu-item dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 1</a>

                                    <ul class="dropdown-menu">

                                        <li class="menu-item ">
                                            <a href="#">Link 1</a>
                                        </li>

                                        <li class="menu-item dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">Link 3</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>

                            </ul>
                        </li>*@



                </ul>
                            //fin barra izquierda

                            //barra derecha
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="text-primary"><i class="fa fa-male"></i> Hola, </span>@User.Nombre<span class="text-primary">! <span class="caret"></span></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        @if (User.IsInRole("usrDeta"))
                                        {
                                            @Html.MenuItemIcon("<i class='fa fa-street-view'></i> Mi Perfil", "Mi Perfil", "Detalles", "Usuario", new { id = User.UsuarioID })
                                        }
                                        @Html.MenuItemIcon("<i class='fa fa-user-times'></i> Cerrar Sesión", "Cerrar Sesión", "CerrarSesion", "Usuario")
                                    </ul>
                                </li>
                            </ul>
                //fin barra derecha
            }
            else
            {
                //barra derecha
                <ul class="nav navbar-nav navbar-right">
                    @Html.MenuItemIcon("<i class='fa fa-sign-in'></i> Iniciar Sesión", "Iniciar Sesión", "IniciarSesion", "Usuario", null, new { data_modal = "", @class = "IniciarSesion" })
                </ul>
                //fin barra derecha
            }



        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


























<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-modal].IniciarSesion").on("click", function (e) {

            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');

                bindForm_Login(this);

            });
            return false;
        });
    });

    function bindForm_Login(dialog) {

        setTimeout(function () {
            $('#UserName').focus();
        }, 500);

        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        //$('#myModal').modal('hide');
                        window.location.href = result.url;

                    } else {
                        $('#myModalContent').html(result);
                        bindForm_Login(dialog);
                    }
                }
            });
            return false;
        });
    }
</script>